* {
  box-sizing: border-box;
}

body {
  background: #f0f2f5;
  font-family: Helvetica, sans-serif;
  padding-left: 50px;
  padding-right: 50px;
}

button,
input,
button {
  font-family: Helvetica, sans-serif;
}

.container {
  max-width: 980px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  padding-top: 130px;
  padding-bottom: 200px;
}

.imagem {
  display: block;
  max-width: 100%;
  height: 106px;
  margin: -28px;
}

h2 {
  font-size: 28px;
  color: #1c1e21;
  font-family: Helvetica, sans-serif;
  max-width: 500px;
  margin-top: 20px;
}

.formulario {
  background: white;
  padding: 16px 16px 24px 16px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

.formulario a input button {
  display: block;
}

input {
  width: 100%;
  padding: 16px;
  margin-bottom: 16px;
  border-radius: 6px;
  border: 1px solid #dddfe2;
  outline: none;
}

input:focus {
  border-color: #1877f2;
  box-shadow: 0 0 0 2px #e7f3ff;
  caret-color: #1877f2;
}

input [placeholder] {
  /* falando com um atributo da minha tag intup*/
  font-size: 18px;
  font-family: Helvetica, sans-serif;
  font-weight: 100;
}

input::placeholder {
  font-size: 18px;
  color: #1d2129;
  opacity: 0.6;
}

.entrar {
  background: #1877f2;
  width: 100%;
  font-size: 20px;
}

.entrar:hover {
  background: #166fe5;
}

.criarConta {
  font-size: 16px;
  background: #42b72a;
  margin: 0 auto;
  margin-top: 24px;
  margin-left: 50%;
  transform: translateX(-50%);
}

.criarConta:hover {
  background: #36a420;
}

.formulario a {
  text-align: center;
  display: block;
  margin-top: 16px;
  color: #1877f2;
  font-size: 14px;
  text-decoration: none;
  padding-bottom: 16px;
  border-bottom: 1px solid #dadde1;
}

.formulario a:hover {
  text-decoration: underline;
}

.entrar,
.criarConta {
  font-weight: bold;
  color: white;
  border-radius: 6px;
  border: none;
  padding: 16px;
  cursor: pointer;
  text-align: center;
  transition: 200ms cubic-bezier(0.08, 0.52, 0.52, 1);
}

#p-criarPagina {
  margin-top: 28px;
}

p,
p > a {
  color: #1c1e21;
  font-size: 14px;
}

p > a {
  font-weight: bold;
  text-decoration: none;
}

p > a:hover {
  text-decoration: underline;
}

footer {
  background: white;
  font-size: 14px;
  color: #737373;
  margin-left: -50px;
  margin-right: -50px;
  text-align: center;
  height: 219px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*

opaaa

*/

.container-flex {
  display: flex;
  margin-top: 50px;
  /*flex-direction: column;*/
  /*justify-content: space-around;*/
}

.container-2 {
  position: relative;
  margin-left: 10px;
  width: 160px;
  height: 208px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

.div-imagem {
  position: relative;
  background: url("../imagens/imagem-perfil.jpg") center/cover;
  width: 100%;
  height: 150px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.footer {
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #4b4f56;
  font-size: 18px;
  line-height: 22px;
  padding-top: 15px;
}

a {
  font-family: inherit;
}

._t7b {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 16px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
  height: 16px;
  transition: all 100ms cubic-bezier(0.08, 0.52, 0.52, 1);
  width: 16px;
}

._t7b::before {
  background-image: url(/rsrc.php/v3/y6/r/NqXxvQhN4tE.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: -21px -43px;
  height: 12px;
  opacity: 1;
  width: 12px;
}

._t7b::after {
  background-image: url(/rsrc.php/v3/yz/r/9438cE7dwbP.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: -25px -35px;
  height: 20px;
  opacity: 0;
  transform: scale(0.6);
  width: 20px;
}

._t7b::before,
._t7b::after {
  bottom: 2px;
  content: "";
  display: block;
  position: absolute;
  right: 2px;
  transform-origin: bottom right;
  transition: inherit;
}

._2d4g {
  left: 4px;
  position: absolute;
  text-align: center;
  top: 4px;
  z-index: 1;
}

._42ft {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  white-space: nowrap;
}

.sp_-Ww9-2lZPiS {
  background: #f0f2f5;
  width: 100%;
  height: 150px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

#imagem-adicionar {
  height: 70px;
  width: 70px;
  margin: 30% 0 0 30%;
}

#btn-Adicionarct {
  color: #3399db;
}
